In [1]:
##Import libraries
import pandas as pd
import os
import datetime
import numpy as np
import glob

to_datetime = lambda d: pd.to_datetime(d, format='%d/%m/%Y')

In [ ]:
import tkinter
from tkinter import filedialog


##Open DataFrame
cotacoes_dataFrame = pd.DataFrame()

##Initialize Tkinter and Add Directory
root = tkinter.Tk()
root.withdraw()

file_type = 'csv'

input_file = filedialog.askopenfile(parent=root,mode='r+',filetypes=[('Input Files', '%s' %file_type), title = 'Choose a Financial .%s File' %file_type])

print(input_file)

In [20]:
##Open DataFrame
cotacoes_dataFrame = pd.DataFrame()

dir = os.path.join(os.path.expanduser('~'), 'Estudos_Bolsa', 'dados', 'b3', 'cotacoes_diarias') + '/'

acao_key = []

for file_name in glob.glob(dir + '*3.sa.csv'):
    acao_key.append(file_name[-12:-7])
    cotacoes_dataFrame = cotacoes_dataFrame.merge(pd.read_csv(file_name, converters={'date': to_datetime})
                                                  .set_index('date').add_suffix(acao_key[-1]), how='outer', left_index=True, right_index=True)

cotacoes_dataFrame.tail()

,openFLEX3,highFLEX3,lowFLEX3,closeFLEX3,negFLEX3,volFLEX3,openCAMB3,highCAMB3,lowCAMB3,closeCAMB3,...,lowBBML3,closeBBML3,negBBML3,volBBML3,openBMIN3,highBMIN3,lowBMIN3,closeBMIN3,negBMIN3,volBMIN3
date,,,,,,,,,,,,,,,,,,,,,
2019-08-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15.0,15.0,15.0,15.0,1.0,150000.0

In [21]:
#edição do dataframe
start_date = '1/08/2015'
cot2015_dataFrame = cotacoes_dataFrame[cotacoes_dataFrame.index >= to_datetime(start_date)]
cot2015_dataFrame =cot2015_dataFrame.dropna(axis=1, how='any')


cot2015_dataFrame.tail()

,openLAME3,highLAME3,lowLAME3,closeLAME3,negLAME3,volLAME3,openTCSA3,highTCSA3,lowTCSA3,closeTCSA3,...,lowWEGE3,closeWEGE3,negWEGE3,volWEGE3,openLIGT3,highLIGT3,lowLIGT3,closeLIGT3,negLIGT3,volLIGT3
date,,,,,,,,,,,,,,,,,,,,,
2019-08-22,13.80,13.83,13.45,13.49,2492.0,510991400.0,1.37,1.37,1.33,1.33,...,22.69,22.73,9401.0,4.567380e+09,20.00,20.52,19.65,20.27,10102.0,5.986842e+09
2019-08-23,13.49,13.61,13.11,13.18,4594.0,975877900.0,1.32,1.34,1.26,1.29,...,22.06,22.22,13419.0,6.077991e+09,20.00,20.28,19.65,19.90,6103.0,3.745741e+09
2019-08-26,13.17,13.34,13.01,13.09,4123.0,866565000.0,1.31,1.31,1.22,1.24,...,21.55,21.55,14730.0,6.483373e+09,19.98,20.01,19.31,19.50,6109.0,5.816606e+09
2019-08-27,13.11,13.34,12.91,13.30,3376.0,737105600.0,1.25,1.27,1.22,1.26,...,21.55,21.68,17755.0,1.155291e+10,19.75,19.75,19.13,19.41,6826.0,3.302009e+09
2019-08-28,13.34,13.39,13.17,13.37,1835.0,426738200.0,1.26,1.27,1.23,1.27,...,21.20,22.09,14241.0,9.851956e+09,19.54,19.58,19.10,19.38,9475.0,3.756084e+09

In [113]:
def chimp_finder(df, vol_increase):
    """chimp_finder looks for micos in df according to vol_increase"""
    delta1 = datetime.timedelta(days=1)
    selected_assets = []
    keys = df.keys()
    
    for key in keys:
        if (key.startswith('vol')):
            selected_assets.append(key[-5:])
    
    #print(selected_assets)
    
    micos = dict()
    for a_asset in selected_assets:
        micos[a_asset] = [[]for _ in range(3)]
        
        for today in range(len(df.index)):
            
            try:
                if df['vol'+a_asset][today] >= vol_increase*df['vol'+a_asset][today-1]:
                    micos[a_asset][0].append(df.index[today])
                    micos[a_asset][1].append(df['close' + a_asset][today])
                    micos[a_asset][2].append(df['close' + a_asset][today+1])
                    #print(str(df.index[today]) + ' ' + a_asset)
            except:
                pass
            
    return micos
    #    return  df['vol']
#num = 70
#micos = chimp_finder(cot2015_dataFrame, num)

In [114]:
def gain(micos):
    gain_tot = []
    for stock, lista in micos.items():
        #print(stock + ' possuiu alta de volume em ' + str(num) +'x nos dias:\n')
        for i in range(len(lista[0])):
            #print(str(lista[0][i]) + ' => ' + str(lista[1][i]) + ', ' + str(lista[2][i]))
            gain = ((lista[2][i] - lista[1][i])/lista[2][i])*100
            gain_tot.append(gain)
            #print(f'Ganho percentual: {gain:.2f}%\n')
        #print('\n')
    return gain_tot

In [115]:
def calcmed(gain_tot):
    mean = 0
    count = 0
    neg = 0
    count_neg = 0
    for i in gain_tot:
        if i > 0:
            mean = mean + i
            count = count + 1
        else:
            neg = neg + i
            count_neg = count_neg + 1
    #print('Média positiva: ' + str(mean/count))
    #print('Média negativa: ' + str(neg/count_neg))
    return mean/count, neg/count_neg, np.std(gain_tot)

In [116]:
result = dict()
for num in range(10, 100, 10):
    result[num] = []
    micos = chimp_finder(cot2015_dataFrame, num)
    gain_tot = gain(micos)
    result[num].append(calcmed(gain_tot))

In [131]:
print('Resultados\n')
for i, j in result.items():
    print('Para ' + str(i) + 'x de aumento no volume')
    print('Média positiva: ' + str(j[0][0]))
    print('Média negativa: ' + str(j[0][1]))
    print('Standard Deviation: ' + str(j[0][2]))
    print('\n')

Resultados

Para 10x de aumento no volume
Média positiva: 2.3787896100324115
Média negativa: -2.4170189304676426
Standard Deviation: 4.1199061730838045


Para 20x de aumento no volume
Média positiva: 2.603255141708444
Média negativa: -2.4933125322394445
Standard Deviation: 3.6454837638936572


Para 30x de aumento no volume
Média positiva: 2.6255480111312415
Média negativa: -2.434823520645226
Standard Deviation: 3.6546767772109945


Para 40x de aumento no volume
Média positiva: 2.5422328372964382
Média negativa: -2.1325292865575474
Standard Deviation: 3.263104125680453


Para 50x de aumento no volume
Média positiva: 2.6770751402513717
Média negativa: -2.0452058144358856
Standard Deviation: 3.3371963896067363


Para 60x de aumento no volume
Média positiva: 2.4807606096641193
Média negativa: -1.5775674931484551
Standard Deviation: 2.6745668799776614


Para 70x de aumento no volume
Média positiva: 2.3108893915475686
Média negativa: -1.610869794151474
Standard Deviation: 2.538424255913947


Para 80x de aumento no volume
Média positiva: 2.4973181268133877
Média negativa: -1.618187923078522
Standard Deviation: 2.646914887528197


Para 90x de aumento no volume
Média positiva: 2.5795335250148623
Média negativa: -1.7848554844117277
Standard Deviation: 2.8061289124765194

In [ ]:
!conda install -c quantopian ta-lib

In [31]:
#technical analysis lib
import ta

ModuleNotFoundError: No module named 'ta'

In [111]:
teste = {'oi': [1, 2, 3]}

teste['oi'].append(5)

teste

{'oi': [1, 2, 3, 5]}